.comparatii
  &.card-holder
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    height: 90vh

    .background-card
      padding: 10px
      background: #fefefe
      border-radius: 12px
      width: 1000px
      max-height: 600px
      margin-bottom: 3vh
      margin-top: 5vh

    .buttons-container
      display: flex
      flex-direction: row
      justify-content: center
      margin-bottom: 20px

    .comparison-card-holder
      display: flex
      margin-top: 50px
      margin-bottom: 50px
      flex-direction: row
      justify-content: center
      align-items: center

