.operatii {
    &.card-holder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 90vh
    }

    .background-card {
        padding: 10px;
        background: #fefefe;
        border-radius: 12px;
        width: 1000px;
        height: 500px;
        margin-bottom: 3vh;
        margin-top: 5vh;
    }

    .equation-card-holder {
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
    }

    .buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
    }
}