.ordine {
  &.card-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh
  }

  .background-card {
    padding: 10px;
    background: #fefefe;
    border-radius: 12px;
    width: 1000px;
    max-height: 500px;
    margin-bottom: 3vh;
    margin-top: 5vh;
  }

  .order-card-holder {
    display: flex;
    margin: 50px auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  }

  .sortable-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    width: 60px;
    height: 60px;
    box-shadow: 0 5px 20px -.5px rgba(0, 0, 0, .2);
    background: #fefefe;
  }
}