.diploma {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  font-family: "DM Sans", sans-serif;
  justify-content: space-between;

  &-content {
    flex: 1;
  }

  &-avatar {
    flex: 1;
  }
}