.welcome {
  font-family: DM Sans, sans-serif;

  &-header {

  }

  &-body {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  &-save {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}


